//introducing functions and mixins
@mixin flex($direction, $justify, $align){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

//importing our variables
@import './abstract/variables';
@import './base/global';

.App{
    min-height: 100vh;
    width: 100%;
}

//importing our components' styling
@import './component/Navigation';
@import './component/ProductsContainer';
@import './component/ProductItem';
@import './component/cartContainer';
@import './component/CartItem';

//miscelleneous styling
@import './component/miscelleneous';

//import our pages' styling
@import './pages/Products';
@import './pages/Cart';