.cartSection{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, minmax(350px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(300px, 350px));
    gap: 1rem;
}

@media only screen and (max-width: 768px){
    .cartSection{
        width: 90%;
    }
}