nav{
    min-height: 10vh;
    width: 100%;
    @include flex(row, space-evenly, center);
    background: $main-color;
    a{
        color: $secondary-color;
        transition: $transition;
        &:hover{
            opacity: 0.5;
        }
    }
}